<div class="container d-flex align-items-center justify-content-center vh-100" id="main-container">
    <div class="card p-4" style="width: 300px;">
      <h2 class="text-center mb-4">Inicio de Sesión</h2>
      <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <div class="form-group">
          <label for="username">Email</label>
          <input type="text" id="username" name="username" ngModel class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" id="password" name="password" ngModel class="form-control" required>
        </div>
        <button type="submit" class="btn btn btn-block" id="login-button" [disabled]="loginForm.invalid">Login</button> <!--(click)="onLogin(loginForm.value)"-->
      </form>
      <div class="text-center mt-4">
        <p>Todavía no tienes una cuenta? <a href="#" (click)="onOpenModal('register')">Por favor, regístrate</a></p>
      </div>
    </div>
  </div>
  
  <!-- Modal de registro -->
  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registerModalLabel">Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)">
            <div class="form-group">
              <label for="id">ID de estudiante</label>
              <input type="number" id="id" name="id" ngModel class="form-control" required>
            </div>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" id="username" name="username" ngModel class="form-control" required>
            </div>
            <div class="form-group">
              <label for="password">Contraseña</label>
              <input type="password" id="password" name="password" ngModel class="form-control" required>
            </div>
            <div class="form-group">
              <label for="firstName">Nombre</label>
              <input type="text" id="firstName" name="firstName" ngModel class="form-control" required>
            </div>
            <div class="form-group">
              <label for="lastName">Apellidos</label>
              <input type="text" id="lastName" name="lastName" ngModel class="form-control" required>
            </div>
            <div class="form-group">
              <label for="carrera">Carrera</label>
              <select id="carrera" name="carrera" ngModel class="form-control" required>
                <option value="" disabled selected>Selecciona tu carrera o cargo</option>
                <option value="Diseño de Moda e Innovación">Diseño de Moda e Innovación</option>
                <option value="Diseño Industrial">Diseño Industrial</option>
                <option value="Diseño Multimedia">Diseño Multimedia</option>
                <option value="Diseño Gráfico">Diseño Gráfico</option>
                <option value="Administrador">Administrador</option>
              </select>
          </div>
            <div class="modal-footer">
              <button type="button" id="register-user-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" id="register-button" class="btn btn" [disabled]="registerForm.invalid">Registrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
