#login-button {
  background-color: #ff6702;
  color: white;
}
#register-button {
  background-color: #ff6702;
  color: white;
}
.form-group {
  position: relative;
}
.toggle-password {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
.toggle-password i {
  font-size: 1.1rem;
  color: #666;
}

.toggle-password-register {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
.toggle-password-register i {
  font-size: 1.1rem;
  color: #666;
}

.toggle-password-confirm {
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}
.toggle-password-confirm i {
  font-size: 1.1rem;
  color: #666;
}