#searchName {
    width: 450px;
}
#edit-button {
    background-color: #ff6702;
}
#pag-button {
    background-color: #ff6702;
    color: white;
}
#edit-event-form {
    background-color: #ff6702;
    color: white;
}